# 验证应用数据迁移

_Source: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/app-data-migration-verification_

开发者自验证

端到端验证
