# 签名/验签

_Source: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/huks-signing-signature-verification_

签名/验签介绍及算法规格

签名/验签(ArkTS)

签名/验签(C/C++)
