# 签名/验签

_Source: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/huks-signing-signature-verification_

